/* Centered text inside container*/

 :root {
            --main-card-color: #b6edb0;
            --primary-color: #44aa00ff;
            /* Hardcoded red */
            --secondary-color: #bcd35fff;
            /* Hardcoded white */
            --accent-color: #b3b3b3ff;
            --ffamily: "monserat", Arial, Helvetica, sans-serif;
            /* Hardcoded font family */
            --backgrd-color: black;
            /* Hardcoded background color */
            --about-color: white;
            /* Hardcoded Gradient */
            --gradient-back: background-image: linear-gradient(to right, #2cc7cdfe, #2cc7cdfe);

        }

body {

	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	background-color: var(--about-color);
	font-family: var(--ffamily);
}



/*Flexbox container for section cards*/

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: var(--backgrd-color);
	justify-content: center;

}

/* .flex-container1 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/*background-color: var(--secondary-color);
	justify-content: center;

}
/*  */
.flex-container>div {
	font-family: var(--ffamily);
	background-color: var(--primary-color);
	width: 270px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	border-radius: 10px;
	height: 300px;
	padding: 10px;
	color: grey;
} */

/* .flex-container1>div {
	font-family: var(--ffamily);
	background-color: var(--primary-color);
	width: 490px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	border-radius: 10px;
	height: 300px;
	padding: 10px;
	color: grey;
} */

.flex-container-foot {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	background-color: var(--backgrd-color);
	justify-content: space-around;

}

.flex-container-foot>div {
	font-family: var(--ffamily);
	background-color: var(--secondary-color);
	/*width: 50%;*/
	margin: 10px;
	text-align: left;
	line-height: 35px;
	font-size: 14px;
	border-radius: 10px;
	padding: 10px;
	color: rgb(24, 23, 23)
}

.flex-container-foot .deets-contact {

	text-align: center;

}

.nested-container {
	font-family: var(--ffamily);
	background-color: var(--secondary-color);
	width: 270px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	border-radius: 10px;
	height: 300px;
	padding: 10px;
	color: grey;
}


.main-nav li {
	padding-top: 0px;
	list-style-type: none;
}

.main-nav li a {
	color: var(--secondary-color);
	padding: 0px 11px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.main-nav ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-right: 10px
}

.main-nav li a:hover {
	background-color: #3674b6;
}

.animate-bottom {
	animation: animate-bottom 0.4s;

}

.card-text {
	position: absolute;
	bottom: 70%;
	left: auto;
	text-align: middle;
	color: var(--backgrd-color);
	font-size: 14px;
	font-family: "monserat", Arial, Helvetica, sans-serif;
	padding: 0px;
	font-style: normal;
	background-color: var(--secondary-color);
	;
	height: 70px
}

.icons-style {
	border-radius: 50%;

}

.cardjb {
	width: 100%;
	height: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -35px;
	background: var(--secondary-color);
}

.deets {

	position: relative;
	top: 215px;
	left: 0;
	background: var(--secondary-color);
	z-index: 4;
	width: 100%;
	height: 0px;
	font-size: 16px;
	font-family: var(--ffamily);
	color: rgb(151, 147, 147);
	font-weight: bold
}

.deets-contact {

	position: relative;
	left: 0;
	background: var(--secondary-color);
	z-index: 4;
	width: 100%;
	font-size: 16px;
	font-family: var(--ffamily);
	color: rgb(151, 147, 147);
	font-weight: bold
}

.icons-style img {
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

/* Add hover effect on icons in cards */
.icons-style img:hover {
	transform: scale(1.2);
	transition: 0.7s ease;

}

/* Container holding the brand image and the floating text */
.floating-box-test {
	position: relative;
	text-align: center;
	color: white;
	top: -36px;

}

.active {
	background-color: #3674b6;
}

#textheader {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;

}

.textline {
	font-size: 14px;
	align-items: center;
	padding: 0px;
	line-height: normal;
	color: black;
	font-style: normal;

}

.head-container {
	display: flex;
	justify-content: space-around;

}

/* TABLE STYLES */

table {
	border-collapse: collapse;
	width: 100%;
	margin: 1px auto;
	background-color: #3674b6;
}

th,
td {
	border: 1px solid #ddd;
	padding: 3px;
	text-align: center;
}

th {
	background-color: #f4f4f4;
	color: grey;
}

img {
	max-width: 100%;
	height: auto;
}

.footer-flex-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: var(--backgrd-color);
	justify-content: center;

}

.form-container-foot {
	margin: 3px auto;
	padding: 20px;
	background-color: rgb(198, 198, 204);
	border-radius: 10px;
	width: 100%;
}

.form-container-foot label {
	text-align: left;
	background-color: rgb(198, 198, 204);
	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
	color: black
}

.card-foot {
	width: 400px;
	height: 150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -35px;
}

input {
	width: 120px;
	background-color: #f5f3f3;
	color: white;
	padding: auto;
	margin: auto;
	border: solid 1px black;
	border-radius: 4px;
	cursor: pointer;
	line-height: 35px;
}

        .main-flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .main-flex-container-inner {
            display: flex;
            flex-wrap: wrap;
        }

        .main-flex-container>div {
            /*background-color: var(--secondary-color);*/

            width: 100px;
            margin: 0px;
            text-align: center;
            line-height: 15px;
            font-size: 12px;
            border-radius: 5px;
        }

        .main-flex-container-inner>div {
            background-color: #4480b1;
            width: 100px;
            margin-left: 1px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            border-radius: 0px;
            color: white
        }

        .card-main {
            /*width: 80%;*/
            height: 80%;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;
            /* top: -35px;*/
            background: var(--main-card-color);
            font-family: var(--ffamily);
            padding: 20px
        }

       /*  .flex-container1 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            /*background-color: var(--secondary-color);
            justify-content: center;
            border-radius: 5px;

        } */

        .main-flex-container-inner>.main-deets-font {
            font-size: 14px;
            font-weight: bold;
            /*color: var(--secondary-color)*/
        }

        .img-style {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin: 0px
        }

        .img-style img {
            max-width: 450px;
            /* Maintain aspect ratio */
            flex: 1 1 auto;
            /* Allow images to grow and shrink */

        }

        .bot-marg {
            margin-bottom: 1px;
        }

	/* Newly Added */
	.main-flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .main-flex-container-inner {
            display: flex;
            flex-wrap: wrap;
        }

        .main-flex-container-inner>div {
            background-color: #4480b1;
            width: 100px;
            margin-left: 1px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            border-radius: 0px;
            color: white
        }

        .card-main {
            /*width: 80%;*/
            height: 80%;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;
            /* top: -35px;*/
            background: var(--main-card-color);
            font-family: var(--ffamily);
            padding: 20px
        }

        .flex-container1 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            /*background-color: var(--secondary-color);*/
            justify-content: center;
            border-radius: 5px;

        }

        .main-flex-container-inner>.main-deets-font {
            font-size: 14px;
            font-weight: bold;
            /*color: var(--secondary-color)*/
        }

        .img-style {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin: 0px
        }

        .img-style img {
            max-width: 450px;
            /* Maintain aspect ratio */
            flex: 1 1 auto;
            /* Allow images to grow and shrink */

        }

        .bot-marg {
            margin-bottom: 1px;
        }

